SUPABASE_URL=https://umusdytkuzolyzfimbwq.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVtdXNkeXRrdXpvbHl6ZmltYndxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQzODMyNTAsImV4cCI6MjA4OTk1OTI1MH0.t_JLC_K-qNgdTukAY1BFDSJCteoEw6LX-VeBZgKSufI
